# Bỏ qua thư mục node_modules
node_modules/

# Bỏ qua file môi trường chứa thông tin nhạy cảm
.env

# Bỏ qua file log
*.log

# Bỏ qua cache của VSCode, MacOS, Linux
.vscode/
.DS_Store
.idea/
*.swp

# Bỏ qua file cơ sở
*.sql

# Skip data folder
data/

# Bỏ qua file cache
.parcel-cache/

# Skip file firebase
.firebaserc
apphosting.yaml
database.rules.json
firebase.json
functions/