extends ../layouts/main.pug

block content
  .container.my-5
    .row
      .col-lg-7.mb-4.mb-lg-0
        // Booking Details
        h2.section-title Booking Details

        // Dates Section
        .booking-summary.mb-4
          .booking-header
            h5.mb-0 Stay Information
          .p-3
            .row.mb-3
              .col-md-6.mb-3.mb-md-0
                label.form-label Check-In Date
                .date-input
                  i.fas.fa-calendar
                  | 29/03/2025
              .col-md-6
                label.form-label Check-Out Date
                .date-input
                  i.fas.fa-calendar
                  input(type="text" class="border-0 bg-transparent" placeholder="dd/mm/yyyy")
            .row
              .col-md-6.mb-3.mb-md-0
                label.form-label Guests
                .guest-input
                  i.fas.fa-user
                  | 3 guests
              .col-md-6
                label.form-label Room Type
                .room-input
                  i.fas.fa-bed
                  | Urban

        // Discount Section
        .discount-section.mb-4
          h5.mb-3 Discount Code
          .discount-field
            input(type="text" class="form-control" placeholder="Enter discount code")
            button.btn.px-4 Apply

        // Payment Options
        .payment-section
          h5.mb-3 Payment Method
          .payment-method
            .payment-card.active
              .card-icon
                i.fab.fa-cc-visa
              | Credit Card
            .payment-card
              .card-icon
                i.fab.fa-paypal
              | PayPal
            .payment-card
              .card-icon
                i.fas.fa-building-columns
              | Bank Transfer
          .credit-card-form
            .mb-3
              label.form-label Card Number
              input(type="text" class="form-control" placeholder="**** **** **** ****")
            .row.mb-3
              .col-md-6.mb-3.mb-md-0
                label.form-label Expiry Date
                input(type="text" class="form-control" placeholder="MM/YY")
              .col-md-6
                label.form-label CVV
                input(type="text" class="form-control" placeholder="***")
            .mb-3
              label.form-label Cardholder Name
              input(type="text" class="form-control" placeholder="Name on card")

      .col-lg-5
        // Price Summary
        h2.section-title Price Summary
        .booking-summary
          .booking-header
            h5.mb-0 Booking Details
          .summary-item
            span Room Type
            span Urban
          .summary-item
            span Check In
            span 29/03/2025
          .summary-item
            span Check Out
            span 30/03/2025 (1 night)
          .summary-item
            span Guests
            span 3 Guests
          .price-summary
            h6.mb-3 Price Details
            .price-row
              span Room Charge
              span $7.99
            .price-row
              span Discount
              span -$2.00
            .price-row.total
              span Total Price
              span.price-badge $5.99
            .free-cancel
              i.fas.fa-check-circle.me-1
              | Free cancellation 1 day prior to stay
        .mt-4
          p.mb-3.small.text-muted
            | By clicking "Book Now", you agree to our Terms of Service and Privacy Policy.
          button.btn.btn-book Book Now
          p.small.text-center.mt-3.text-muted
            | You won't be charged yet!
