footer.footer
  .container
    .row
      .col-md-4
        h5 Company Info
        ul
          li: a(href='#') About Us
          li: a(href='#') Contact
          li: a(href='#') Privacy Policy
      .col-md-4
        h5 Support
        ul
          li: a(href='#') FAQs
      .col-md-4
        h5 Newsletter
        input(type='email', class='form-control', placeholder='test@gmail.com', aria-label='Email address')
        button.subscribe-btn(type='button') Subscribe
  .footer-bottom
    .container
      p Copied & Pasted by hocvu
      p  2024 All Rights Reserved

script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js')
