<!-- Navigation -->
nav.navbar.navbar-expand-lg
  .container
    a.navbar-brand(href='/') STAYBOOKER
    .navbar-nav.ms-auto
      .language-selector
        button.language-btn
          img.flag(src='https://cdnjs.cloudflare.com/ajax/libs/flag-icons/6.6.6/flags/4x3/gb.svg', alt='English')
          span English
          svg(width='12', height='12', viewBox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2')
            path(d='M6 9l6 6 6-6')
        .language-options
          a.language-option(href='#')
            img.flag(src='https://cdnjs.cloudflare.com/ajax/libs/flag-icons/6.6.6/flags/4x3/gb.svg', alt='English')
            span English
          div.divider
          a.language-option(href='#')
            img.flag(src='https://cdnjs.cloudflare.com/ajax/libs/flag-icons/6.6.6/flags/4x3/es.svg', alt='Spanish')
            span Español
          div.divider
          a.language-option(href='#')
            img.flag(src='https://cdnjs.cloudflare.com/ajax/libs/flag-icons/6.6.6/flags/4x3/fr.svg', alt='French')
            span Français
          div.divider
          a.language-option(href='#')
            img.flag(src='https://cdnjs.cloudflare.com/ajax/libs/flag-icons/6.6.6/flags/4x3/de.svg', alt='German')
            span Deutsch
          div.divider
          a.language-option(href='#')
            img.flag(src='https://cdnjs.cloudflare.com/ajax/libs/flag-icons/6.6.6/flags/4x3/it.svg', alt='Italian')
            span Italiano
          div.divider
          a.language-option(href='#')
            img.flag(src='https://cdnjs.cloudflare.com/ajax/libs/flag-icons/6.6.6/flags/4x3/pt.svg', alt='Portuguese')
            span Português
      a.nav-link(href='/') HOME
      a.nav-link(href='/') ABOUT US
      a.nav-link(href='/login') LOGIN/REGISTER
